.person {
    width: 9vw;
    height: 6vh;
    border-radius: 12px;
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    font-size: 120%;
}

@media only screen and (max-width: 500px) {
    .line {
        display: grid;
        place-items: center;
        text-align: center;
        margin: 2vh 0;
    }

    .person {
        margin: 1vh 0;
        display: flex;
        text-align: center;
        width: 50%;
    }
}